<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hz="http://www.hazelcast.com/schema/spring"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/data/mongo
                http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
                http://www.hazelcast.com/schema/spring
                http://www.hazelcast.com/schema/spring/hazelcast-spring-3.3.xsd">

    <!-- General -->
    <context:component-scan base-package="org.vinst.server"/>

    <!-- Hazelcast -->
    <hz:hazelcast id="instance">
        <hz:config>
            <hz:group name="grid" password="greed"/>
            <hz:map name="account-updates" in-memory-format="OBJECT" >
                <hz:map-store enabled="true" write-delay-seconds="0"
                              implementation="mongoAccountUpdatesMapStore" initial-mode="EAGER" />
            </hz:map>
            <hz:serialization>
                <hz:serializers>
                    <hz:serializer type-class="org.vinst.server.request.ServerRequestTask"
                                   implementation="serverRequestTaskSerializer"/>
                </hz:serializers>
            </hz:serialization>
        </hz:config>
    </hz:hazelcast>

    <!-- Mongo -->
    <mongo:db-factory dbname="neat" write-concern="JOURNALED" />

    <mongo:mapping-converter>
        <mongo:custom-converters>
            <mongo:converter ref="accountUpdateKeyReadConverter"/>
            <mongo:converter ref="accountUpdateKeyWriteConverter" />
        </mongo:custom-converters>
    </mongo:mapping-converter>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoDbFactory"/>
        <constructor-arg ref="mappingConverter"/>
    </bean>
</beans>